$text-color: #ffffff;

$home-bg: #29b6f6;
$search-bg: $home-bg;

$result-bg: #20a1e4;
$definition-bg: $result-bg;

$search-button-bg: #303f9f;
$search-bar-bg: #ffffff;
$search-text-color: #797979;

$word-type-bg: #178bc7;
$word-matched-bg: #3eb7f6;