.result {
	background: $result-bg;
	padding: 1.2em;
	margin: 0;

	@include single-transition(opacity, 300ms);
	@include single-transition(margin, 500ms);

	opacity: 0;

	.type {
		background: $word-type-bg;
		padding: 0.3em 0.7em;

		display: inline-block;
	}

	p {
		font-size: 1.05em;
	}

	h2 {
		font-size: 1.3em;
		margin: 0 0 1em;
	}

	.term {
		background: none;
	}

	&.searching .term {
		background: $word-matched-bg;
	}
}